  
/* Challenge 4: Change the radius of the borders of all images to 20px */
img{
    border-radius: 20px;
}
/* Challenge 5: Change the width of the image with an id of "banner" to 95% */

    #banner{
        width: 40%;
        height:50%;
    }

    
    


/* Challenge 6: For the HTML element with an id of "bannerSeparator" change the,
                1) height to 10px
                2) border to 0px, solid and white
                3) background image to  linear-gradient(to right, blue, white)
*/
#bannerSeparator{
    height: 10px;
    border-radius: 0px;
    background-image: linear-gradient(to right, blue,#8889ff);
}

/* Challenge 7: For the HTML element with an id of "logo_container" align the text in the center */
#Logo_container{

}

/* Challenge 8: Change the height of all images with a class of "logo" to 200px*/
.logo{
    height:200px
}

/* Challenge 9: Change the padding to 40px for all divs */
div{
    padding: 40;
}

/* Challenge 10: For the HTML element with an id of "main_container" change 
                1) the size of the font to 24pt, 
                2) family of font to "Arial", 
                3) color of the background to rgb(0,0,255)  
                4) color of the text to white for the  white
*/
#main_container{
    font-size: 24pt;
    font-family: arial;
    background-color:darkred;
    color: whitesmoke
    
}

