/* Basic Structure of a CSS rule using classes

.class{
  property: value;
}

*/
div{
  background-color: rgb(201, 82, 46);
}

/* Challenge 5: Change the family of all elements to Arial */
H1{
 font-family: 'Courier New', Courier, monospace;
}

/* Challenge 6: Change the background color to blue, the color of the text to white for all elements 
with a class of "info" */
.info{
  background-color: blue;
  color: white
}

/* Challenge 7: Add a border of 2px solid red for all elements with a class of "highlight" */

/* Challenge 8: Align the text in the center and drop a shadow on the text of 2px 2px yellow  for 
all elements with a class of "special"
*/

/* Challenge Bonus: Create a CSS rule for a class named "shadow".  
Apply a shadow to the box around the elements that is 2px 2px  gray. */ 
